
@{
    ViewBag.Title = "Index";
}

<h2>Instance Manager</h2>

<div id="main-instance-manager">
    <div id="instance-list-container">
        <ul id="instance-list">
            <li id="instance-list-template" data-id="{instance-id}">
                <div class="sect-1">
                    <header>{package-name}</header>
                    <content>{instance-id}</content>
                </div>
                <div class="sect-divider">&nbsp;</div>
                <div class="sect-2">hello</div>
                <div class="sect-3">{status}</div>
            </li>
        </ul>
        <a href="#" id="btn-new-instance" class="btn btn-primary">Start new instance</a>
    </div>

    <div id="instance-log-container">
        <pre id="console-log">@Model</pre>
        <input type="text" id="cmd" class="form-control" placeholder="Enter command here" />
    </div>
</div>
<div id="loader">
    <img src="~/assets/img/loader.gif" />
    <p>Connecting to service ...</p>
</div>

@section header
{
    <link rel="stylesheet" href="~/assets/css/instance-manager.css" />
}

@section scripts
{
    <script src="~/assets/js/utilities.js"></script>
    <script src="~/assets/js/service.js"></script>
    <script src="~/assets/js/dialogs.js"></script>
    <script src="~/assets/js/instance-list.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script type="text/javascript">
        var lastLogId = 0;

        function selectInstance(id) {
            console.log('Select instance => ' + id);

            return false;
        }

        function updateInstanceList() {
            $.get('/home/list-instances', function (data) {
                if (data.result) {
                    console.log(data);
                    if (data.instances.length > 0) {
                        var html = '';

                        for (var i = 0; i < data.instances.length; ++i) {
                            var instance = data.instances[i];

                            var buttonHtml =
                                '<a href="#" class="tiny-btn btn-warning" onclick="return askShutdownInstance(\'' + instance.Id + '\')">Shutdown</a> ' +
                                '<a href="#" class="tiny-btn btn-danger" onclick="return askTerminateInstance(\'' + instance.Id + '\')">Terminate</a>';

                            html +=
                                '<tr><td><a href="#" onclick="return selectInstance(\'' + instance.Id + '\')">' +
                                instance.Id +
                                '</a></td><td>' +
                                instance.PackageName +
                                '</td><td>' +
                                buildStatusTag(instance.Status) +
                                '</td><td>'+buttonHtml+'</td></tr>'
                            ;
                        }

                        $('#instance-table tbody').html(html);
                    } else {
                        $('#instance-table tbody').html('<tr><td colspan="4">There are currently no instances running. <a href="#" onclick="return startNewInstance()">Start new instance</a></td></tr>');
                    }
                } else {
                    console.log('Error: ' + data.error);
                }

                setTimeout(updateInstanceList, 2000);
            });
        }

        function startNewInstance() {
            $.get('/home/start-instance', function (data) {
                if (data.result) {
                    console.log('Started new instance. Instance id: ' + data.instanceId);
                } else {
                    console.log('Failed to start instance.\n' + data.error);
                }
            });

            return false;
        }
    </script>
}