
@{
    ViewBag.Title = "Index";
}

<h2>Instance Manager</h2>

<div id="lost-connection-div" class="alert alert-danger">
    The connection to the service was lost. <a href="/" class="alert-link">Reload the page</a> to reconnect.
</div>

<div id="main-instance-manager">
    <div id="instance-list-container">
        <ul id="instance-list">
            <li id="instance-list-template" data-id="{instance-id}" class="instance-item">
                <div class="sect-1">
                    <header>{package-name}</header>
                    <content>{instance-id}</content>
                </div>
                <div class="sect-divider">&nbsp;</div>
                <div class="sect-2">{address}</div>
                <div class="sect-3">{status}<br />
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-off"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="return askShutdown('{instance-id}')"><span class="glyphicon glyphicon-off"></span> Shutdown</a></li>
                            <li><a href="#" onclick="return askTerminate('{instance-id}')"><span class="glyphicon glyphicon-warning-sign"></span> Terminate</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li id="no-instance-html">
                <div class="alert alert-warning">There are currently no running instances.</div>
            </li>
        </ul>
        <a href="#" id="btn-new-instance" class="btn btn-primary">Start new instance</a>
    </div>

    <div id="instance-log-container">
        <pre id="console-log">@Model</pre>
        <input type="text" id="cmd" class="form-control" placeholder="Enter command here" />
    </div>
</div>
<div id="loader">
    <img src="~/assets/img/loader.gif" />
    <p>Connecting to service ...</p>
</div>

@section header
{
    <link rel="stylesheet" href="~/assets/css/instance-manager.css" />
}

@section scripts
{
    <script src="~/assets/js/utilities.js"></script>
    <script src="~/assets/js/service.js"></script>
    <script src="~/assets/js/dialogs.js"></script>
    <script src="~/assets/js/instance-list.js"></script>
    <script src="~/assets/js/main.js"></script>
}