
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

@section scripts
{
    <script src="~/assets/js/service.js"></script>

    <script type="text/javascript">
        $(function () {

            Service.on('NewInstance', function (data) {
                console.log('New instance of id ' + data.instanceId + ' with package name: ' + data.packageName);
            })

            Service.on('InstanceStatus', function (data) {
                console.log('Instance status of ' + data.instanceId + ' => ' + data.status);
            })

            Service.on('InstanceLog', function (data) {
                console.log('[' + data.instanceId + '] ' + data.text);
            })

            Service.on('InstanceConfiguration', function (data) {
                console.log('Instance config from ' + data.instanceId);
            })

            Service.on('InstanceList', function (data) {
                for (var i = 0; i < data.instances.length; ++i) {
                    console.log(data.instances[i]);
                }
            })

            Service.on('ServiceError', function (data) {
                console.log('[Service Error] ' + data.message);
            })

            Service.on('Test', function (data) {
                console.log(data);
            })

            Service.initiate();
        })
    </script>
}